body {
    /*margin: 0;*/
    background-color: #22272e;
    color: #aab6c3;
    font-weight: lighter;
    font-family: "Times New Roman", serif;
}

body #content {
    margin: 3% 7%;
    width: 70%;
}

#left_part {
    width: 50%;
    vertical-align: top;
}

#right\=part {
    vertical-align: top;
}


