form {
    width: 70%;
}

#form_table{
    border-spacing: 10px;
    width: 100%;
}

label{
    color: white;
    border-radius: 5px;
    margin: 0 0 0 5%;
}

select, input[type="text"] {
    width: 60%;
    margin: 0 0 0 5%;
    box-sizing: border-box;
}

input, select, button{
    /**border: 0;*/
    background-color: #FFE873;
    color: black;
}

input:hover, select:hover, button:hover{
    background-color: #886ED7;
    color: white;
}

.invalidInput {
    border: 2px solid #9d4c59;
    background-color: #ffc3c3;
    color: #9d4c59;
    box-shadow: 3px 2px 5px #9d4c59;
    /*box-shadow: 3px 2px 5px darkred;*/
}

.invalidInput:hover {
    border: 2px solid #9d4c59;
    background-color: #ffc3c3;
    color: #9d4c59;
    box-shadow: 3px 2px 5px #9d4c59;
    /*box-shadow: 3px 2px 5px darkred;*/
}

.error {
    font-size: small;
    font-family: "Calibri Light",cursive;
    color: white;
    box-sizing: border-box;
}