header {
    background-color: #6C48D7;
    color: white;
    font-family: cursive;
    text-align: right;
    width: 100%;
    white-space: pre;
}
header table {
    display: inline-table;
    border-spacing: 50px 0;
}

